{% extends 'base.html' %}

{% block content %}

<div class="topnav">
  <a href="http://127.0.0.1:5000/">Home</a>
  <a class="active"  href="http://127.0.0.1:5000/movies">Movies</a>
  <a href="http://127.0.0.1:5000/login">Login</a>


</div>

<h1 style="color: white; font-size: 500%; text-align: center">Movies</h1>

<table class="reservation__fontcolor">
    <thead>
        <th>Title</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Director</th>
        <th>Actors</th>
        <th>Year</th>
        <th>Runtime(Minutes)</th>
    </thead>

    <tbody>
    {% for movie in movies %}
        <tr>

            <td>{{ movie.title }}</td>
            <td>{% for genre in movie.genres %}
              <div>{{ genre.genre_name }}</div>
            {% endfor %}</td>
            <td>{{ movie.description }}</td>
            <td>{{ movie.director.director_full_name }}</td>
            <td>{% for actor in movie.actors %}
              <div>{{ actor.actor_full_name }}</div>
            {% endfor %}</td>
            <td>{{ movie.release_year }}</td>
            <td>{{movie.runtime_minutes}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>


{% endblock %}